<app-layout>
    <div id="thank-you-page">
        <div class="thank-you-page-wrapper">
            <div class="card">
                <h2>Thank You</h2>
                <p>Dear Customer,<br><br>

                    Thank you for submitting your purchase in warranty Utsav 2024. The QR code scanned by you has been successfully uploaded in the system. Please check your email for the digital warranty certificate. Kindly contact our helpdesk if you require further assistance.<br><br>

                    Warm regards,<br>
                    V-Guard Team</p>
                <div class="buttons">
                    <button mat-raised-button type="button" (click)="redirect()">
                        Add More Purchase
                    </button>
                </div>
            </div>
        </div>
        <div class="redirecting">
            <p>In {{remainingSec}} seconds, redirecting to redemption page. Or <a routerLink="/">click here now</a></p>
         </div>


    </div>

</app-layout>