<div id="tncmodal" class="modal fade in" role="dialog">
    <div class="modal-dialog">
       <div class="modal-content mypop-content">
          <div class="modal-header">
             <h2>Terms & Conditions </h2>
             <button class="close" data-dismiss="modal" [mat-dialog-close]="true"><span>x</span></button>
          </div>
          <div class="modal-body">
             <div class="modal-details">
                <div class="row">
                   <div class="col-md-12">
                      <h3 class="headinggtnc">Water Heater Season Offer on the purchase of V-Guard Products</h3>
                      <div class="tnc">
                         <ul class="tnclistq">
                            <li>	The Utsav 2.0 Season is back for limited period with assured cashback offer to all our customers buying V-Guard Storage Water Heaters by redeeming the scratch card code issued by the retailer/ promoter of selective retail outlets and by scanning/ submitting the product QR Code along with submission of customer name, mobile number   
                            </li>
                            <li>	This offer is available exclusively in the state of Kerala  to various categories of water heater for a specified period. 
                            </li>
                            <li>
                              Details of products Category, Gifts, Regions/ States, and Validity are mentioned herein below table:
                               <br/>
                               <br/>
                               <div class="table-responsive">
                                  <table class="table table-bordered mytabletnc mb_01">
                                     <thead>
                                        <tr>
                                           <th>Category</th>
                                           <th>Applicable SKU</th>
                                           <th>Benefit to Consumer</th>
                                           <th>Offer applicable to Regions/ States</th>
                                           <th>Offer Validity period</th>
                                        </tr>
                                     </thead>
                                     <tbody>
                                        <tr>
                                           <td>Water Heater series</td>
                                           <td>Applicable on all Storage Water Heaters	Cashback ranging from INR 100 to INR 2000/- on every transaction depending on valid successful Scratch card code and V-guard product QR code submission by each participant.	Entire Kerala State	16th Aug 24 till 30th Sept 24
                                             (Applicable on the  models as per list at page 3 onwards) 			
                                             Not Applicable for 3 Litre Water Heater. 
                                           </td>
                                           <td>Cashback ranging from INR 100 to INR 2000/- on every transaction depending on valid successful Scratch card code and V-guard product QR code submission by each participant			
                                          </td>
                                           <td>Entire Kerala State</td>
                                           <td>16th Aug 24 till 30th Sept 24</td>
                                        </tr>
                                     </tbody>
                                  </table>
                               </div>
                            </li>
                            <li>	List of applicable SKUs are shown below at page ......... of the respective categories.</li>
                            <li>	Customers who purchase Storage Water Heater will get assured Cashback ranging from INR 100 to INR 2000/- on every transaction depending on valid successful Scratch card code and V-guard product QR code submission by each participant.
                            </li>
                            <li>	The cashback needs to be redeemed as per below process. <br><br>
                              Step 1: Customer Buys Water Heater and receives Scratch card from promoter/ retailer for every purchase of the applicable Water Heater as per the list below at page ..........<br><br>
                              Step 2: The customer needs to scan the QR code which is printed in the form of posters/ tentcards, wobbler, or photo from mobile with Secret code and also scanning V-Guard authenticated product QR Code. <br><br>
                              Step 3: The customer needs to fill the following details to enter the assured gift offer such as. customer name, phone number, email id.<br><br>
                              Step 4: After saving the details, the customer will get assured points and the customer can redeem the points through any of below options:<br><br>
                              a.	UPI Id
                              
                            </li>
                            <li>	The assured cashback cannot be clubbed with any other offer and cannot be redeemed or exchanged with any other gifts
                            </li>
                            <li>	Products also available without this offer.
                            </li>
                            <li>V-Guard reserves the right to withdraw/suspend/cancel this offer without any prior notice and without assigning any reason thereof and no correspondence in this regard will be entertained. 
                            </li>
                            <li>The offer is valid till the stock last or the applicable dates whichever is earlier.
                            </li>
                            <li>V-Guard is not responsible for the misuse of cashback redeemed by another non eligible customer meeting actual buyer. 
                            </li>
                            <li>This offer is an individual offer and will never be considered as a family or a group offer.
                            </li>
                            <li>All cashbacks will be subject to Indian laws, including tax regulation as and when applicable.
                            </li>
                            <li>By entering the offer the participant accept and agree to all the terms and conditions of this offer by their free will and consent. 
                            </li>
                            <li>This terms and conditions will be governed by and construed and interpreted in accordance with the laws of India. In case of any dispute arises from these applicable terms and conditions, only Ernakulam Courts shall have exclusive Jurisdiction, to try and entertain any dispute
                            </li>
                         </ul>
                         <h4 class="minheadtnc">ASSURED GIFT ON PURCHASE OF BELOW WATER HEATER MODELS:</h4>
                         <div class="table-responsive">
                            <table class="table table-bordered mytabletnc mb_01">
                               <thead>
                                  <tr>
                                     <th>Sr. No.</th>
                                     <th>Material Code</th>
                                     <th>Water Heater Models</th>
                                  </tr>
                               </thead>
                               <tbody>
                                  <tr>
                                     <td>1</td>
                                     <td>1500162</td>
                                     <td>STEAMER PLUS MSV 25 L WHITE</td>
                                  </tr>
                                  <tr>
                                     <td>2</td>
                                     <td>1501887</td>
                                     <td>STEAMER PLUS MSV 35L WHITE</td>
                                  </tr>
                                  <tr>
                                     <td>3</td>
                                     <td>1502415</td>
                                     <td>KRYSTAL PLUS 6L WHITE N</td>
                                  </tr>
                                  <tr>
                                     <td>4</td>
                                     <td>1502416</td>
                                     <td>KRYSTAL PLUS 10L WHITE N</td>
                                  </tr>
                                  <tr>
                                     <td>5</td>
                                     <td>1502417</td>
                                     <td>KRYSTAL PLUS 15L WHITE N</td>
                                  </tr>
                                  <tr>
                                     <td>6</td>
                                     <td>1502418</td>
                                     <td>KRYSTAL PLUS 25L WHITE N</td>
                                  </tr>
                                  <tr>
                                     <td>7</td>
                                     <td>1502705</td>
                                     <td>STEAMER PLUS EPAC 15L V WHITE</td>
                                  </tr>
                                  <tr>
                                     <td>8</td>
                                     <td>1503702</td>
                                     <td>STEAMER PLUS MSV 15L ECN SERIES</td>
                                  </tr>
                                  <tr>
                                     <td>9</td>
                                     <td>1503703</td>
                                     <td>STEAMER PLUS MSV 25L ECN SERIES</td>
                                  </tr>
                                  <tr>
                                     <td>10</td>
                                     <td>1503704</td>
                                     <td>STEAMER PLUS MSV 15L ECS SERIES</td>
                                  </tr>
                                  <tr>
                                     <td>11</td>
                                     <td>1503706</td>
                                     <td>STEAMER PLUS MS 15L ECH SERIES</td>
                                  </tr>
                                  <tr>
                                     <td>12</td>
                                     <td>1503707</td>
                                     <td>STEAMER PLUS MS 25L ECH SERIES</td>
                                  </tr>
                                  <tr>
                                     <td>13</td>
                                     <td>1504128</td>
                                     <td>STEAMER PLUS EC 6 L WHITE</td>
                                  </tr>
                                  <tr>
                                     <td>14</td>
                                     <td>1504129</td>
                                     <td>STEAMER PLUS EC 10 L WHITE</td>
                                  </tr>
                                  <tr>
                                     <td>15</td>
                                     <td>1504130</td>
                                     <td>STEAMER PLUS EC 15 L WHITE</td>
                                  </tr>
                                  <tr>
                                     <td>16</td>
                                     <td>1504131</td>
                                     <td>STEAMER PLUS EC 25 L WHITE</td>
                                  </tr>
                                  <tr>
                                     <td>17</td>
                                     <td>1601826</td>
                                     <td>PEBBLE 6 L IVORY</td>
                                  </tr>
                                  <tr>
                                     <td>18</td>
                                     <td>1601827</td>
                                     <td>PEBBLE 6L WHITE (METALLICA SERIES)</td>
                                  </tr>
                                  <tr>
                                     <td>19</td>
                                     <td>1601828</td>
                                     <td>PEBBLE 10 L IVORY</td>
                                  </tr>
                                  <tr>
                                     <td>20</td>
                                     <td>1601829</td>
                                     <td>PEBBLE 10L WHITE (METALLICA SERIES)</td>
                                  </tr>
                                  <tr>
                                     <td>21</td>
                                     <td>1601830</td>
                                     <td>PEBBLE 15 L IVORY</td>
                                  </tr>
                                  <tr>
                                     <td>22</td>
                                     <td>1601830</td>
                                     <td>VGuard Pebble 15 L Water Heater</td>
                                  </tr>
                                  <tr>
                                     <td>23</td>
                                     <td>1601831</td>
                                     <td>PEBBLE 15L WHITE (METALLICA SERIES)</td>
                                  </tr>
                                  <tr>
                                     <td>24</td>
                                     <td>1601832</td>
                                     <td>PEBBLE 25 L IVORY</td>
                                  </tr>
                                  <tr>
                                     <td>25</td>
                                     <td>1601833</td>
                                     <td>PEBBLE 25L WHITE (METALLICA SERIES)</td>
                                  </tr>
                                  <tr>
                                     <td>26</td>
                                     <td>1602234</td>
                                     <td>VERANO 15L WHITE</td>
                                  </tr>
                                  <tr>
                                     <td>27</td>
                                     <td>1602235</td>
                                     <td>VERANO 25L WHITE</td>
                                  </tr>
                                  <tr>
                                     <td>28</td>
                                     <td>1602236</td>
                                     <td>VERANO 15L DG WHITE</td>
                                  </tr>
                                  <tr>
                                     <td>29</td>
                                     <td>1602352</td>
                                     <td>STEAMER PLUS MS H 10</td>
                                  </tr>
                                  <tr>
                                     <td>30</td>
                                     <td>1602724</td>
                                     <td>VERANO 10L WHITE</td>
                                  </tr>
                                  <tr>
                                     <td>31</td>
                                     <td>1602971</td>
                                     <td>SPRINHOT PLUS 15 L IVORY</td>
                                  </tr>
                                  <tr>
                                     <td>32</td>
                                     <td>1602972</td>
                                     <td>SPRINHOT PLUS 25 L IVORY</td>
                                  </tr>
                                  <tr>
                                     <td>33</td>
                                     <td>1602972</td>
                                     <td>SPRINHOT PLUS 25 L IVORY WITH FCP</td>
                                  </tr>
                                  <tr>
                                     <td>34</td>
                                     <td>1602996</td>
                                     <td>ESB 15 L GREY</td>
                                  </tr>
                                  <tr>
                                     <td>35</td>
                                     <td>1603002</td>
                                     <td>ESA 15 L GREY</td>
                                  </tr>
                                  <tr>
                                     <td>36</td>
                                     <td>1603003</td>
                                     <td>EMA 15 L WHITE </td>
                                  </tr>
                                  <tr>
                                     <td>37</td>
                                     <td>1603004</td>
                                     <td>EMA 25 L WHITE</td>
                                  </tr>
                                  <tr>
                                     <td>38</td>
                                     <td>1603100</td>
                                     <td>IRIS 10 L BLACK</td>
                                  </tr>
                                  <tr>
                                     <td>39</td>
                                     <td>1603102</td>
                                     <td>IRIS 15 L BLACK</td>
                                  </tr>
                                  <tr>
                                     <td>40</td>
                                     <td>1603211</td>
                                     <td>ESB 10 L GREY</td>
                                  </tr>
                                  <tr>
                                     <td>41</td>
                                     <td>1603212</td>
                                     <td>ESA 10 L GREY</td>
                                  </tr>
                                  <tr>
                                     <td>42</td>
                                     <td>1603214</td>
                                     <td>IRIS 25 L BLACK</td>
                                  </tr>
                                  <tr>
                                     <td>43</td>
                                     <td>1603528</td>
                                     <td>EC 25 L WHITE</td>
                                  </tr>
                                  <tr>
                                     <td>44</td>
                                     <td>1603531</td>
                                     <td>EC 6 L WHITE</td>
                                  </tr>
                                  <tr>
                                     <td>45</td>
                                     <td>1603534</td>
                                     <td>ECH 25 L WHITE</td>
                                  </tr>
                                  <tr>
                                     <td>46</td>
                                     <td>1603535</td>
                                     <td>ECH 15 L WHITE</td>
                                  </tr>
                                  <tr>
                                     <td>47</td>
                                     <td>1603536</td>
                                     <td>ECH 10 L WHITE</td>
                                  </tr>
                                  <tr>
                                     <td>48</td>
                                     <td>1603537</td>
                                     <td>ECN 25 L WHITE</td>
                                  </tr>
                                  <tr>
                                     <td>49</td>
                                     <td>1603538</td>
                                     <td>ECN 15 L WHITE</td>
                                  </tr>
                                  <tr>
                                     <td>50</td>
                                     <td>1603539</td>
                                     <td>ECN 10 L WHITE</td>
                                  </tr>
                                  <tr>
                                     <td>51</td>
                                     <td>1603540</td>
                                     <td>ECN 6 L WHITE</td>
                                  </tr>
                                  <tr>
                                     <td>52</td>
                                     <td>1603622</td>
                                     <td>GLADO 25 L WHITE</td>
                                  </tr>
                                  <tr>
                                     <td>53</td>
                                     <td>1603623</td>
                                     <td>GLADO 15 L WHITE</td>
                                  </tr>
                                  <tr>
                                     <td>54</td>
                                     <td>1603624</td>
                                     <td>GLADO 10 L WHITE</td>
                                  </tr>
                                  <tr>
                                     <td>55</td>
                                     <td>1603625</td>
                                     <td>GLADO 6 L WHITE</td>
                                  </tr>
                                  <tr>
                                     <td>56</td>
                                     <td>1603756</td>
                                     <td>IRIS SMART 15 L</td>
                                  </tr>
                                  <tr>
                                     <td>57</td>
                                     <td>1603795</td>
                                     <td>IRIS SMART 25 L</td>
                                  </tr>
                                  <tr>
                                     <td>58</td>
                                     <td>1603800</td>
                                     <td>IRIS DG 10</td>
                                  </tr>
                                  <tr>
                                     <td>59</td>
                                     <td>1603801</td>
                                     <td>IRIS 25</td>
                                  </tr>
                                  <tr>
                                     <td>60</td>
                                     <td>1603802</td>
                                     <td>IRIS 15</td>
                                  </tr>
                                  <tr>
                                     <td>61</td>
                                     <td>1603803</td>
                                     <td>IRIS 10</td>
                                  </tr>
                                  <tr>
                                     <td>62</td>
                                     <td>1603805</td>
                                     <td>IRIS TEZ 25 L</td>
                                  </tr>
                                  <tr>
                                     <td>63</td>
                                     <td>1603806</td>
                                     <td>IRIS TEZ 15 L</td>
                                  </tr>
                                  <tr>
                                     <td>64</td>
                                     <td>1603837</td>
                                     <td>PEBBLE METALLICA METRO 25 L</td>
                                  </tr>
                                  <tr>
                                     <td>65</td>
                                     <td>1603838</td>
                                     <td>PEBBLE METALLICA METRO 15 L</td>
                                  </tr>
                                  <tr>
                                     <td>66</td>
                                     <td>1603839</td>
                                     <td>PEBBLE METALLICA METRO 10 L</td>
                                  </tr>
                                  <tr>
                                     <td>67</td>
                                     <td>1603840</td>
                                     <td>PEBBLE METALLICA METRO 6 L</td>
                                  </tr>
                                  <tr>
                                     <td>68</td>
                                     <td>1603841</td>
                                     <td>PEBBLE METRO 25 L IVORY</td>
                                  </tr>
                                  <tr>
                                     <td>69</td>
                                     <td>1603843</td>
                                     <td>PEBBLE METRO 10 L IVORY</td>
                                  </tr>
                                  <tr>
                                     <td>70</td>
                                     <td>1603847</td>
                                     <td>IRIS METRO 25 L WHITE</td>
                                  </tr>
                                  <tr>
                                     <td>71</td>
                                     <td>3000061</td>
                                     <td>SPRINHOT PLUS 6 L IVORY</td>
                                  </tr>
                                  <tr>
                                     <td>72</td>
                                     <td>3000061</td>
                                     <td>SPRINHOT PLUS 6 L IVORY WITH FCP</td>
                                  </tr>
                                  <tr>
                                     <td>73</td>
                                     <td>3000062</td>
                                     <td>SPRINHOT PLUS 10 L IVORY</td>
                                  </tr>
                                  <tr>
                                     <td>74</td>
                                     <td>3000062</td>
                                     <td>SPRINHOT PLUS 10 L IVORY WITH FCP</td>
                                  </tr>
                                  <tr>
                                     <td>75</td>
                                     <td>3000062</td>
                                     <td>VGuard Sprinhot Plus 10 Ltr Water Heater</td>
                                  </tr>
                                  <tr>
                                     <td>76</td>
                                     <td>3000063</td>
                                     <td>VEEHOT 3 L IVORY</td>
                                  </tr>
                                  <tr>
                                     <td>77</td>
                                     <td>3000679</td>
                                     <td>ECN METRO 25 L</td>
                                  </tr>
                                  <tr>
                                     <td>78</td>
                                     <td>3000680</td>
                                     <td>ECN METRO 15 L</td>
                                  </tr>
                                  <tr>
                                     <td>79</td>
                                     <td>3000681</td>
                                     <td>ECN METRO 10 L</td>
                                  </tr>
                                  <tr>
                                     <td>80</td>
                                     <td>3000682</td>
                                     <td>ECN METRO 6 L</td>
                                  </tr>
                                  <tr>
                                     <td>81</td>
                                     <td>3000683</td>
                                     <td>VALCO 25 L WHITE</td>
                                  </tr>
                                  <tr>
                                     <td>82</td>
                                     <td>3000684</td>
                                     <td>VALCO 15 L WHITE</td>
                                  </tr>
                                  <tr>
                                     <td>83</td>
                                     <td>3000685</td>
                                     <td>VALCO 10 L WHITE</td>
                                  </tr>
                                  <tr>
                                     <td>84</td>
                                     <td>3000686</td>
                                     <td>VALCO 6 L WHITE</td>
                                  </tr>
                                  <tr>
                                     <td>85</td>
                                     <td>3000687</td>
                                     <td>VISTORA 25 L WHITE</td>
                                  </tr>
                                  <tr>
                                     <td>86</td>
                                     <td>3000688</td>
                                     <td>VISTORA 15 L WHITE</td>
                                  </tr>
                                  <tr>
                                     <td>87</td>
                                     <td>3000689</td>
                                     <td>VISTORA 10 L WHITE</td>
                                  </tr>
                                  <tr>
                                     <td>88</td>
                                     <td>3000690</td>
                                     <td>VISTORA 6 L WHITE</td>
                                  </tr>
                                  <tr>
                                     <td>89</td>
                                     <td>3000691</td>
                                     <td>SIETA 25 L WHITE</td>
                                  </tr>
                                  <tr>
                                     <td>90</td>
                                     <td>3000692</td>
                                     <td>SIETA 15 L WHITE</td>
                                  </tr>
                                  <tr>
                                     <td>91</td>
                                     <td>3000693</td>
                                     <td>SIETA 10 L WHITE</td>
                                  </tr>
                                  <tr>
                                     <td>92</td>
                                     <td>3000694</td>
                                     <td>SIETA 6 L WHITE</td>
                                  </tr>
                                  <tr>
                                     <td>93</td>
                                     <td>3000756</td>
                                     <td>PEBBLE METRO 25 L</td>
                                  </tr>
                                  <tr>
                                     <td>94</td>
                                     <td>3000757</td>
                                     <td>PEBBLE METRO 15 L</td>
                                  </tr>
                                  <tr>
                                     <td>95</td>
                                     <td>3000758</td>
                                     <td>PEBBLE METRO 10 L</td>
                                  </tr>
                                  <tr>
                                     <td>96</td>
                                     <td>3000759</td>
                                     <td>PEBBLE METRO 6 L</td>
                                  </tr>
                                  <tr>
                                     <td>97</td>
                                     <td>3000760</td>
                                     <td>PEBBLE MAX 25 L</td>
                                  </tr>
                                  <tr>
                                     <td>98</td>
                                     <td>3000761</td>
                                     <td>PEBBLE MAX 15 L</td>
                                  </tr>
                                  <tr>
                                     <td>99</td>
                                     <td>3000762</td>
                                     <td>PEBBLE MAX 10L</td>
                                  </tr>
                                  <tr>
                                     <td>100</td>
                                     <td>3000763</td>
                                     <td>PEBBLE MAX 6 L</td>
                                  </tr>
                                  <tr>
                                     <td>101</td>
                                     <td>3000764</td>
                                     <td>PEBBLE PRO 25 L</td>
                                  </tr>
                                  <tr>
                                     <td>102</td>
                                     <td>3000765</td>
                                     <td>PEBBLE PRO 15 L</td>
                                  </tr>
                                  <tr>
                                     <td>103</td>
                                     <td>3000766</td>
                                     <td>PEBBLE PRO 10 L</td>
                                  </tr>
                                  <tr>
                                     <td>104</td>
                                     <td>3000792</td>
                                     <td>PEBBLE PRO 6 L</td>
                                  </tr>
                                  <tr>
                                     <td>105</td>
                                     <td>3000984</td>
                                     <td>IRIS METRO 25 L</td>
                                  </tr>
                                  <tr>
                                     <td>106</td>
                                     <td>3000985</td>
                                     <td>IRIS METRO 15L</td>
                                  </tr>
                                  <tr>
                                     <td>107</td>
                                     <td>3000986</td>
                                     <td>IRIS METRO 10L VET</td>
                                  </tr>
                                  <tr>
                                     <td>108</td>
                                     <td>3001116</td>
                                     <td>SIETA PLUS 35 L</td>
                                  </tr>
                                  <tr>
                                     <td>109</td>
                                     <td>3001117</td>
                                     <td>GLADO METRO 25L</td>
                                  </tr>
                                  <tr>
                                     <td>110</td>
                                     <td>3001118</td>
                                     <td>GLADO METRO 15L</td>
                                  </tr>
                                  <tr>
                                     <td>111</td>
                                     <td>3001119</td>
                                     <td>GLADO METRO 10L</td>
                                  </tr>
                                  <tr>
                                     <td>112</td>
                                     <td>3001120</td>
                                     <td>GLADO METRO 6L</td>
                                  </tr>
                                  <tr>
                                     <td>113</td>
                                     <td>3001122</td>
                                     <td>KRYSTAL MAX 25 L WHITE</td>
                                  </tr>
                                  <tr>
                                     <td>114</td>
                                     <td>3001123</td>
                                     <td>KRYSTAL MAX 15 L WHITE</td>
                                  </tr>
                                  <tr>
                                     <td>115</td>
                                     <td>3001124</td>
                                     <td>KRYSTAL MAX 10 L WHITE</td>
                                  </tr>
                                  <tr>
                                     <td>116</td>
                                     <td>3001125</td>
                                     <td>SIETA PLUS 25 L</td>
                                  </tr>
                                  <tr>
                                     <td>117</td>
                                     <td>3001126</td>
                                     <td>SIETA PLUS 15 L</td>
                                  </tr>
                                  <tr>
                                     <td>118</td>
                                     <td>3001127</td>
                                     <td>SIETA PLUS 10 L</td>
                                  </tr>
                                  <tr>
                                     <td>119</td>
                                     <td>3001128</td>
                                     <td>SIETA PLUS 6 L</td>
                                  </tr>
                                  <tr>
                                     <td>120</td>
                                     <td>3001128</td>
                                     <td>SIETA PLUS 6 L</td>
                                  </tr>
                                  <tr>
                                     <td>121</td>
                                     <td>3001391</td>
                                     <td>EC PRO 25 L</td>
                                  </tr>
                                  <tr>
                                     <td>122</td>
                                     <td>3001392</td>
                                     <td>EC PRO 15 L</td>
                                  </tr>
                                  <tr>
                                     <td>123</td>
                                     <td>3001393</td>
                                     <td>EC PRO 10 L</td>
                                  </tr>
                                  <tr>
                                     <td>124</td>
                                     <td>3001512</td>
                                     <td>EC DG 25L</td>
                                  </tr>
                                  <tr>
                                     <td>125</td>
                                     <td>3001513</td>
                                     <td>EC DG 15L</td>
                                  </tr>
                                  <tr>
                                     <td>126</td>
                                     <td>3001514</td>
                                     <td>EC DG 10L</td>
                                  </tr>
                                  <tr>
                                     <td>127</td>
                                     <td>3001515</td>
                                     <td>EC METRO DG 25L</td>
                                  </tr>
                                  <tr>
                                     <td>128</td>
                                     <td>3001516</td>
                                     <td>EC METRO DG 15L</td>
                                  </tr>
                                  <tr>
                                     <td>129</td>
                                     <td>3001517</td>
                                     <td>EC METRO DG 10L</td>
                                  </tr>
                                  <tr>
                                     <td>130</td>
                                     <td>3001518</td>
                                     <td>EC METRO DG 6L</td>
                                  </tr>
                                  <tr>
                                     <td>131</td>
                                     <td>3001519</td>
                                     <td>ECH METRO 25L</td>
                                  </tr>
                                  <tr>
                                     <td>132</td>
                                     <td>3001520</td>
                                     <td>ECH METRO 15L</td>
                                  </tr>
                                  <tr>
                                     <td>133</td>
                                     <td>3001521</td>
                                     <td>ECH METRO 10L</td>
                                  </tr>
                                  <tr>
                                     <td>134</td>
                                     <td>3001522</td>
                                     <td>VALCO TEZ 25L</td>
                                  </tr>
                                  <tr>
                                     <td>135</td>
                                     <td>3001523</td>
                                     <td>VALCO TEZ 15L</td>
                                  </tr>
                                  <tr>
                                     <td>136</td>
                                     <td>3001524</td>
                                     <td>VALCO TEZ 10L</td>
                                  </tr>
                                  <tr>
                                     <td>137</td>
                                     <td>3001525</td>
                                     <td>VALCO TEZ 6L</td>
                                  </tr>
                                  <tr>
                                     <td>138</td>
                                     <td>3001565</td>
                                     <td>SIETA PLUS 100 L</td>
                                  </tr>
                                  <tr>
                                     <td>139</td>
                                     <td>3001566</td>
                                     <td>SIETA PLUS 70 L</td>
                                  </tr>
                                  <tr>
                                     <td>140</td>
                                     <td>3001567</td>
                                     <td>SIETA PLUS 50 L</td>
                                  </tr>
                                  <tr>
                                     <td>141</td>
                                     <td>3001578</td>
                                     <td>SIETA PLUS METRO 25 L</td>
                                  </tr>
                                  <tr>
                                     <td>142</td>
                                     <td>3001579</td>
                                     <td>SIETA PLUS METRO 15 L</td>
                                  </tr>
                                  <tr>
                                     <td>143</td>
                                     <td>3001580</td>
                                     <td>SIETA PLUS METRO 10 L</td>
                                  </tr>
                                  <tr>
                                     <td>144</td>
                                     <td>3001581</td>
                                     <td>SIETA PLUS METRO 6 L</td>
                                  </tr>
                                  <tr>
                                     <td>145</td>
                                     <td>3002106</td>
                                     <td>ECH SLEEK 25 L</td>
                                  </tr>
                                  <tr>
                                     <td>146</td>
                                     <td>3002107</td>
                                     <td>ECH SLEEK 15 L</td>
                                  </tr>
                                  <tr>
                                     <td>147</td>
                                     <td>3002108</td>
                                     <td>ECH SLEEK 10 L</td>
                                  </tr>
                                  <tr>
                                     <td>148</td>
                                     <td>3002128</td>
                                     <td>IRIS DG 25</td>
                                  </tr>
                                  <tr>
                                     <td>149</td>
                                     <td>3002129</td>
                                     <td>IRIS DG 15</td>
                                  </tr>
                                  <tr>
                                     <td>150</td>
                                     <td>3002209</td>
                                     <td>ECH SLEEK LHS 25 L</td>
                                  </tr>
                                  <tr>
                                     <td>151</td>
                                     <td>3002210</td>
                                     <td>ECH SLEEK LHS 15 L</td>
                                  </tr>
                                  <tr>
                                     <td>152</td>
                                     <td>3002211</td>
                                     <td>ECH SLEEK LHS 10 L</td>
                                  </tr>
                                  <tr>
                                     <td>153</td>
                                     <td>3002241</td>
                                     <td>PEBBLE MAX 15L</td>
                                  </tr>
                                  <tr>
                                     <td>154</td>
                                     <td>3002242</td>
                                     <td>PEBBLE PRO 10L</td>
                                  </tr>
                                  <tr>
                                     <td>155</td>
                                     <td>3002247</td>
                                     <td>PEBBLE PRO 15L</td>
                                  </tr>
                                  <tr>
                                     <td>156</td>
                                     <td>3002356</td>
                                     <td>PEBBLE METRO 10L</td>
                                  </tr>
                                  <tr>
                                     <td>157</td>
                                     <td>3002360</td>
                                     <td>PEBBLE METRO 25L</td>
                                  </tr>
                                  <tr>
                                     <td>158</td>
                                     <td>3002361</td>
                                     <td>PEBBLE METRO 15L</td>
                                  </tr>
                                  <tr>
                                     <td>159</td>
                                     <td>3006267</td>
                                     <td>MALEO 25 LITRE</td>
                                  </tr>
                                  <tr>
                                     <td>160</td>
                                     <td>3006268</td>
                                     <td>MALEO 15 LITRE</td>
                                  </tr>
                                  <tr>
                                     <td>161</td>
                                     <td>3006269</td>
                                     <td>MALEO 10 LITRE</td>
                                  </tr>
                                  <tr>
                                     <td>162</td>
                                     <td>3006641</td>
                                     <td>PEBBLE 10 LITRE WHITE (METALLICA 3 STAR)</td>
                                  </tr>
                                  <tr>
                                     <td>163</td>
                                     <td>3006642</td>
                                     <td>PEBBLE PRO 10 LITRE 3 STAR</td>
                                  </tr>
                                  <tr>
                                     <td>164</td>
                                     <td>3006643</td>
                                     <td>PEBBLE PRO 6 LITRE 3 STAR</td>
                                  </tr>
                                  <tr>
                                     <td>165</td>
                                     <td>3006652</td>
                                     <td>PEBBLE 25 LITRE IVORY 3 STAR</td>
                                  </tr>
                                  <tr>
                                     <td>166</td>
                                     <td>3006653</td>
                                     <td>PEBBLE 15 LITRE IVORY 3 STAR</td>
                                  </tr>
                                  <tr>
                                     <td>167</td>
                                     <td>3006653</td>
                                     <td>V-Guard Pebble 15 L Water Heater</td>
                                  </tr>
                                  <tr>
                                     <td>168</td>
                                     <td>3006654</td>
                                     <td>PEBBLE 10 LITRE IVORY 3 STAR</td>
                                  </tr>
                                  <tr>
                                     <td>169</td>
                                     <td>3006657</td>
                                     <td>PEBBLE MAX 15 LITRE 3 STAR</td>
                                  </tr>
                                  <tr>
                                     <td>170</td>
                                     <td>3006658</td>
                                     <td>PEBBLE MAX 10 LITRE 3 STAR</td>
                                  </tr>
                                  <tr>
                                     <td>171</td>
                                     <td>3006659</td>
                                     <td>PEBBLE MAX 6 LITRE 3 STAR</td>
                                  </tr>
                                  <tr>
                                     <td>172</td>
                                     <td>3006660</td>
                                     <td>PEBBLE PRO 25 LITRE 3 STAR</td>
                                  </tr>
                                  <tr>
                                     <td>173</td>
                                     <td>3006661</td>
                                     <td>PEBBLE PRO 15 LITRE 3 STAR</td>
                                  </tr>
                                  <tr>
                                     <td>174</td>
                                     <td>3006661</td>
                                     <td>VGuard Pebble Pro 15 L Water Heater</td>
                                  </tr>
                                  <tr>
                                     <td>175</td>
                                     <td>3006661</td>
                                     <td>V-Guard Pebble Pro 15 L Water Heater</td>
                                  </tr>
                               </tbody>
                            </table>
                         </div>
                         <div class="address-contact">
                           <div class="address">
                              V-GUARD INDUSTRIES LTD.<br>
                              Regd Office: 42/962,<br>
                              Vennala High School Road,<br>
                              Vennala P O, Kochi - 682028.<br>
                              CIN: L31200KL1996PLC010010<br>
                           </div>
                           <div class="contact">
                              <p>+914844335000</p>
                              <p>+914842005000</p>
                              <p>mail&commat;vguard.in</p>
                           </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>