<app-layout>
    <div id="cashback-page">
        <div class="cashback-page-wrapper">
            <div class="card">
                        <p>Thank you for choosing V-Guard!<br><br>

                            Cashback will be credited to your account within 24 hours.</p>
                </div>
        </div>
        

     <div class="redirecting">
        <p>In {{remainingSec}} seconds, redirecting to redemption page. Or <a routerLink="/redeem">click here now</a></p>
     </div>
    </div>
</app-layout>