#footer {
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#fafafa ;
  height:90px;
  width: 100%;
  border-top: 1px solid #ebebeb;
  overflow: hidden;
  .footer-text {
    color: #7a7a7a;
    text-align: center;
  }

  .footer-highlighted {
    color: #e89200
  }
}