body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 600px;
    width: 90%; /* Adjusted width for responsiveness */
    padding: 20px;
    margin: auto;
  
    .illustration {
      margin-bottom: 20px;
  
      img {
        max-width: 100%;
        height: auto;
      }
    }
  
    .content {
      p {
        font-size: 1vw; /* Dynamic font size using viewport units */
        max-width: 100%; /* Ensure text doesn't overflow on small screens */
        color: #333;
        margin: 10px 0;
      }
  
      @media (max-width: 768px) {
        p {
          font-size: 3vw; /* Adjusted font size for smaller screens */
        }
      }
  
      .btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: #3498db;
        color: #fff;
        text-decoration: none;
        font-size: 1.5vw; /* Dynamic font size using viewport units */
        border-radius: 5px;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #2980b9;
        }
  
        @media (max-width: 768px) {
          font-size: 2vw; /* Adjusted font size for smaller screens */
        }
      }
    }
  }
  